// BASICS //

.mousehand {
	cursor: pointer;
}

.inline-block {
	display: inline-block;
}

.red {
	color: $clr-red;
}

.green {
	color: $clr-green;
}

.orange {
	color: $clr-orange;
}

.w100 {
	width: 100%;
}