// VARIABLES //

$clr-black: #000000;
$clr-white: #FFFFFF;
$clr-font-std: #555555;
$clr-grey-std: #AAAAAA;
$clr-grey-lightest: #FAFAFA;
$clr-grey-lighter: #EEEEEE;
$clr-grey-light: #DDDDDD;
$clr-grey-midlight: #CCCCCC;
$clr-grey-mid: #BBBBBB;
$clr-grey-middark: #999999;
$clr-grey-dark: #777777;
$clr-grey-darker: #444444;
$clr-red: red;
$clr-lightred: #FFDDDD;
$clr-green: #97ce22;
$clr-lightgreen: #EEFFCC;
$clr-orange: orange;
$clr-hightlight: #005473;