<!-- CATALOGUES DETAIL -->

<div class="catalogue-detail pad-3p">
	<div class="inside">

		<div class="row">
			<!-- Title -->
			<div class="col-lg-6 marg-b20">
				<label for="title">Catalogue Title</label>
				<input id="title" type="text" data-ng-model="catalogue.title" placeholder="Enter title" data-ng-disabled="!currentUser.isAdmin">
				<div class="description">Please enter the title for this catalogue.</div>
			</div>

			<!-- Project -->
			<div class="col-lg-6 marg-b20">
				<label for="title">Project</label>
				<select data-ng-model="catalogue.project" data-ng-options="project._id as project.title for project in projects" data-ng-disabled="!currentUser.isAdmin">
					<option value="" disabled="disabled" selected="selected">- Bitte wählen -</option>
				</select>
				<div class="description">Please select the project that is bound to this catalogue.</div>
			</div>
		</div>

		<!-- Description -->
		<div class="marg-b20">
			<label for="description">Description</label>
			<textarea id="description" data-ng-model="catalogue.description" placeholder="Enter description" data-ng-disabled="!currentUser.isAdmin"></textarea>
			<div class="description">Please enter a description for this catalogue.</div>
		</div>

		<!-- Step Table -->
    <form editable-form name="editableForm" onaftersave="saveUser()">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <th style="width: 4%" class="text-right">#</th>
          <th style="width: 24%">Test Step</th>
          <th style="width: 24%">Test Data</th>
          <th style="width: 24%">Expectation</th>
          <th style="width: 24%">Edit</th>
        </thead>
        <tbody>
          <tr ng-repeat="step in catalogue.data track by $index" data-ng-class="step.class">
            <td style="width: 4%" class="text-right">
              {{ ($index + 1) }}
            </td>
            <td style="width: 24%">
              <span editable-textarea="step.name" e-name="name" ng-bind-html="nl2br(step.name) || 'empty'"></span>
            </td>
            <td style="width: 24%">
              <span editable-textarea="step.data" e-name="data" ng-bind-html="nl2br(step.data) || 'empty'"></span>
            </td>
            <td style="width: 24%">
              <span editable-textarea="step.expectation" e-name="expectation" ng-bind-html="nl2br(step.expectation) || 'empty'"></span>
            </td>
            <td data-ng-if="currentUser.isAdmin" style="white-space: nowrap; width: 24%">
                <div class="buttons" ng-show="editableForm.$visible">
                  <button type="submit" ng-disabled="editableForm.$waiting" class="button btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                  <button type="button" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()" class="button btn-default"><i class="glyphicon glyphicon-share-alt"></i></button>
                </div>
                <div class="buttons" ng-show="!editableForm.$visible">
                  <button type="button" class="button" ng-click="editableForm.$show()" ng-show="!editableForm.$visible"><i class="glyphicon glyphicon-pencil"></i></button>
                  <button class="button button-red" ng-click="removeStep($index)"><i class="glyphicon glyphicon-remove"></i></button><br><br>
                  <button class="button button-highlight" ng-click="addStep($index)"><i class="glyphicon glyphicon-plus"></i></button>
                  <button class="button button-highlight" ng-click="move($index, 'up')"><i class="glyphicon glyphicon-arrow-up"></i></button>
                  <button class="button button-highlight" ng-click="move($index, 'down')"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </div>
            </td>
            <td style="width: 24%" data-ng-if="!currentUser.isAdmin">
              <div data-ng-if="step.state !== 'accepted' && step.state !== 'declined' && step.state !== 'undone'">
                <div class="action" data-ng-click="acceptStep($index)"><i class="glyphicon glyphicon-ok green"></i></div>
                <div class="action" data-ng-click="declineStep($index)"><i class="glyphicon glyphicon-remove red"></i></div>
              </div>
              <div data-ng-if="step.state === 'accepted'">
                Accepted!
              </div>
              <div data-ng-if="step.state === 'declined'">
                Failed!
              </div>
              <div data-ng-if="step.state === 'undone'">
                Undone!
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <button class="button button-highlight" data-ng-click="addStep()" data-ng-if="currentUser.isAdmin">
      <i class="glyphicon glyphicon-plus"></i>
    </button>

		<!-- Error Note -->
		<div class="marg-b20" data-ng-if="hasError && !currentUser.isAdmin">
			<label for="errorNote">Error Note / Bug Report</label>
			<textarea id="errorNote" data-ng-model="catalogue.errorNote" placeholder="Enter error note"></textarea>
			<div class="description">Please enter the error note for this catalogue (debug report).</div>
		</div>
	</div>
</div>

<!-- ADMIN MODE Save catalogue -->
<div class="btn-wrapper marg-t20 pad-3p" data-ng-if="currentUser.isAdmin">
	<button class="button inline-block" data-ng-click="saveCatalogue(false)">
		<span>Save Catalogue</span>
	</button>

	<button class="button inline-block" data-ng-click="saveCatalogue(true)">
		<span>Save & Close</span>
	</button>
</div>

<!-- REGULAR MODE Save catalogue -->
<div class="btn-wrapper marg-t20 pad-3p" data-ng-if="!currentUser.isAdmin">
	<div class="inside">
		<button class="button inline-block" data-ng-click="saveResult()">
			<span>Save Result</span>
		</button>
	</div>
</div>

<div class="pad-b50"></div>
