<!-- LOGIN -->

<div class="login box">
	<div class="inside">
		<label for="username">Username</label>
		<input type="text" name="username" data-ng-model="username">
		<label for="password">Password</label>
		<input type="password" name="password" data-ng-model="password">
		<button class="button w100" data-ng-click="login()">Login</button>
	</div>
</div>

<div class="row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8 text-center">
        <h2>Welcome Beta Testers</h2>
        <p>PLEASE NOTICE</p>
        <p>1.) If you want to test on more than one DAW we will have to set up additional accounts. If you need more accounts, please get back to us via info (at) blackroosteraudio.com. We will gladly help you.<br>
        2.) If you experience plug-in or process specific problems, please report them within the BEETL regarding the testcases you are currently working on. If the scenario you are experiencing does not fit any of the testcases or BEETL is broken you can write to dev (at) blackroosteraudio.com<br>
        3.) Please DO NOT post or get in contact on facebook or twitter regarding our beta test (breach of NDA).<br><br>
        Thank you!
        </div>
    <div class="col-sm-2">&nbsp;</div>

<div class="pad-b50"></div>